Repository jaelliot/geckoforge: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, bash-syntax, nix-check, xml-validate, anti-patterns, executable-check

lefthook.yml:

# @file lefthook.yml
# @description Git hooks configuration for geckoforge quality gates
# @update-policy Update when adding new validation rules or checks

pre-commit:
  parallel: true
  commands:
    shellcheck:
      glob: "**/*.sh"
      run: |
        if command -v shellcheck >/dev/null 2>&1; then
          shellcheck {staged_files} || {
            echo "‚ùå ShellCheck failed"
            echo "Fix errors or add # shellcheck disable=SCXXXX with justification"
            exit 1
          }
        else
          echo "‚ö†Ô∏è  shellcheck not installed - skipping"
        fi
    
    bash-syntax:
      glob: "**/*.sh"
      run: |
        for file in {staged_files}; do
          bash -n "$file" || {
            echo "‚ùå Bash syntax error in $file"
            exit 1
          }
        done
    
    nix-check:
      glob: "home/**/*.nix"
      run: |
        if command -v nix-instantiate >/dev/null 2>&1; then
          for file in {staged_files}; do
            nix-instantiate --parse "$file" > /dev/null || {
              echo "‚ùå Nix syntax error in $file"
              exit 1
            }
          done
        else
          echo "‚ö†Ô∏è  nix-instantiate not available - skipping"
        fi
    
    xml-validate:
      glob: "profiles/**/config.kiwi.xml"
      run: |
        if command -v xmllint >/dev/null 2>&1; then
          xmllint --noout {staged_files} || {
            echo "‚ùå KIWI XML validation failed"
            exit 1
          }
        else
          echo "‚ö†Ô∏è  xmllint not installed - skipping"
        fi
    
    anti-patterns:
      glob: "**/*.{sh,nix,md,xml}"
      run: tools/validate/check-anti-patterns.sh
    
    executable-check:
      glob: "scripts/**/*.sh"
      run: |
        for file in {staged_files}; do
          if [ ! -x "$file" ]; then
            echo "‚ùå Script not executable: $file"
            echo "Run: chmod +x $file"
            exit 1
          fi
        done

pre-push:
  parallel: false
  commands:
    validate-layers:
      run: tools/validate/check-layer-assignments.sh
    
    docs-check:
      run: |
        today=$(date +%Y-%m-%d)
        month=$(date +%Y-%m)
        summary="docs/daily-summaries/$month/$today.md"
        
        if [ ! -f "$summary" ]; then
          echo "‚ö†Ô∏è  Consider creating daily summary: $summary"
          echo "üí° Use: docs/templates/daily-summary-template.md"
        fi

fix(docs): avoid anti-pattern false positive in daily summary
  docs/daily-summaries/2025-10/2025-10-10.md
  docs/getting-started.md
  docs/templates/implementation-prompt.md
  home/home.nix
  home/modules/shell.nix
  profiles/leap-15.6/kde-nvidia/config.kiwi.xml
  scripts/setup-shell.sh
Due: shellcheck, bash-syntax, nix-check, xml-validate, anti-patterns

feat: implement comprehensive rclone encrypted backup system
  docs/backup-recovery.md
  docs/daily-summaries/2025-01/2025-01-15.md
  docs/getting-started.md
  home/home.nix
  home/modules/backup.nix
  scripts/check-backups.sh
  scripts/setup-rclone.sh
Due: shellcheck, bash-syntax, nix-check, anti-patterns

feat: establish comprehensive font configuration for development workflows
  docs/daily-summaries/2025-01/2025-01-15.md
  docs/font-configuration.md
  home/modules/desktop.nix
  profiles/leap-15.6/kde-nvidia/config.kiwi.xml
Due: nix-check, xml-validate, anti-patterns

feat: add Synergy setup helper script for KVM switching
  docs/daily-summaries/2025-10/2025-10-11.md
  docs/getting-started.md
  docs/synergy-setup.md
  scripts/setup-synergy.sh
Due: shellcheck, bash-syntax, anti-patterns

docs(readme): Modernize root README with current features
  README.md
  docs/daily-summaries/2025-10/2025-10-11.md
Due: anti-patterns

docs(readme): Fix markdown formatting and structure
  README.md
  docs/daily-summaries/2025-10/2025-10-11.md
Due: anti-patterns

feat(email): add hardened Thunderbird email client with anti-phishing protection
  README.md
  docs/getting-started.md
  docs/thunderbird-setup.md
  home/home.nix
  home/modules/thunderbird.nix
  profiles/leap-15.6/kde-nvidia/config.kiwi.xml
  scripts/setup-protonmail-bridge.sh
Due: shellcheck, bash-syntax, nix-check, xml-validate, anti-patterns

feat(macos-keyboard): add kanata-based shortcut remapping
  README.md
  docs/daily-summaries/2025-10/2025-10-15.md
  docs/daily-summaries/2025-10/2025-10-16.md
  docs/guides/keyboard-configuration.md
  home/home.nix
  home/modules/macos-keyboard.nix
  scripts/firstrun-user.sh
  scripts/setup-macos-keyboard.sh
  scripts/test-macos-keyboard.sh
Due: shellcheck, bash-syntax, nix-check, anti-patterns

feat(security): add layered hardening across ssh, network, apps
  README.md
  docs/daily-summaries/2025-10/2025-10-16.md
  docs/guides/security-configuration.md
  docs/templates/implementation-prompt.md
  home/home.nix
  home/modules/security.nix
  profiles/leap-15.6/kde-nvidia/config.kiwi.xml
  profiles/leap-15.6/kde-nvidia/root/etc/systemd/system/geckoforge-ssh-hardening.service
  profiles/leap-15.6/kde-nvidia/root/etc/systemd/system/multi-user.target.wants/geckoforge-ssh-hardening.service
  profiles/leap-15.6/kde-nvidia/scripts/firstboot-ssh-hardening.sh
  scripts/setup-auto-updates.sh
  scripts/setup-secure-dns.sh
  scripts/setup-secure-firewall.sh
Due: shellcheck, bash-syntax, nix-check, xml-validate, anti-patterns

feat(desktop): enable KDE Night Color defaults
  README.md
  docs/daily-summaries/2025-10/2025-10-16.md
  docs/guides/night-color.md
  home/modules/desktop.nix
  home/modules/kde-theme.nix
  scripts/configure-night-color.sh
  scripts/firstrun-user.sh
  scripts/test-night-color.sh
Due: shellcheck, bash-syntax, nix-check, anti-patterns

removed content
  README.md
Due: none

added content
  README.md
  docs/guides/winapps.md
  docs/templates/deep-research-deployment-readiness.md
  home/home.nix
  home/modules/winapps.nix
  scripts/firstrun-user.sh
  scripts/setup-winapps.sh
Due: shellcheck, bash-syntax, nix-check, anti-patterns

feat(privacy)!: comprehensive telemetry disabling across system
  docs/OS-PERFORMANCE-OPTIMIZATION.md
  docs/privacy-configuration.md
  docs/summaries/2025-12-16-os-performance.md
  docs/summaries/2025-12-16.md
  home/home.nix
  home/modules/desktop.nix
  home/modules/development.nix
  home/modules/docker.nix
  home/modules/firefox.nix
  home/modules/power.nix
  home/modules/privacy.nix
  home/modules/shell.nix
  home/modules/vscode.nix
  profile/root/etc/systemd/system/geckoforge-firstboot.service
  profile/root/etc/systemd/system/geckoforge-nix.service
  scripts/apply-performance-optimizations.sh
  tools/verify-no-telemetry.sh
Due: shellcheck, bash-syntax, nix-check, anti-patterns

added espanso
  README.md
  docs/summaries/2025-12-20.md
  docs/text-expander.md
  home/flake.lock
  home/home.nix
  home/modules/espanso.nix
Due: nix-check, anti-patterns

fix: use :z volume flag for Docker SELinux/VMware compatibility
  tools/kiwi-build.sh
Due: shellcheck, bash-syntax, anti-patterns

refactor: remove Docker dependency from kiwi-build, use native KIWI
  docs/BUILD-ISO-IN-VM.md
  docs/research/system-health-monitoring.md
  tools/kiwi-build.sh
Due: shellcheck, bash-syntax, anti-patterns

fix: rename config.kiwi.xml to config.xml
  profile/config.xml
Due: anti-patterns

fix: update kiwi-build.sh to look for config.xml
  tools/kiwi-build.sh
Due: shellcheck, bash-syntax, anti-patterns

fix: correct KIWI NG config.xml schema and add comprehensive config.sh
  profile/config.sh
  profile/config.xml
  profile/root/etc/systemd/system/multi-user.target.wants/geckoforge-ssh-hardening.service
  profile/root/usr/local/sbin/firstboot-nix.sh
  profile/root/usr/local/sbin/firstboot-nvidia.sh
  profile/root/usr/local/sbin/firstboot-ssh-hardening.sh
Due: shellcheck, bash-syntax, anti-patterns

docs: codify audit findings into instructions and skills
  .github/instructions/00-style-canon.instructions.md
  .github/instructions/10-kiwi-architecture.instructions.md
  .github/instructions/copilot-instructions.md
  .github/skills/anti-pattern-prevention.md
  .github/skills/audit-compliance-checklist.md
  .github/skills/firstboot-services.md
  .github/skills/kiwi-build-environment.md
  .github/skills/kiwi-schema-validation.md
  .github/skills/nvidia-driver-installation.md
  OPA/add-opa-placeholder.md
  docs/prompts/deep-research-template.md
  docs/research/Geckoforge-Kiwi-NG-Audit-and-Remediation-Report.md
Due: anti-patterns

fix: exclude instruction files from anti-pattern checks
  .github/instructions/00-style-canon.instructions.md
  .github/instructions/05-project-overview.instructions.md
  .github/instructions/10-kiwi-architecture.instructions.md
  .github/instructions/25-lefthook-quality.instructions.md
  .github/instructions/50-testing-deployment.instructions.md
  .github/instructions/60-package-management.instructions.md
  .github/instructions/70-troubleshooting.instructions.md
  README.md
  docs/BUILD-ISO-IN-VM.md
  docs/DEPLOYMENT-STRATEGY.md
  docs/directory-tree.md
  docs/directory_tree.md
  docs/font-configuration.md
  docs/laptop-msi-gf65-optimization.md
  docs/themes.md
  lefthook.yml
  tools/check-anti-patterns.sh
  tools/check-layer-assignments.sh
Due: shellcheck, bash-syntax, anti-patterns

docs: reorganize summaries into daily-summaries/YYYY-MM structure
  docs/daily-summaries/2025-10/2025-10-06.md
  docs/daily-summaries/2025-10/2025-10-08.md
  docs/daily-summaries/2025-10/2025-10-10.md
  docs/daily-summaries/2025-10/2025-10-11.md
  docs/daily-summaries/2025-10/2025-10-15.md
  docs/daily-summaries/2025-10/2025-10-16.md
  docs/daily-summaries/2025-12/2025-12-15-flattening.md
  docs/daily-summaries/2025-12/2025-12-15-optimization-sprint.md
  docs/daily-summaries/2025-12/2025-12-15-phase-2-consolidation-plan.md
  docs/daily-summaries/2025-12/2025-12-15-script-consolidation-plan.md
  docs/daily-summaries/2025-12/2025-12-15.md
  docs/daily-summaries/2025-12/2025-12-16-os-performance.md
  docs/daily-summaries/2025-12/2025-12-16.md
  docs/daily-summaries/2025-12/2025-12-20.md
  docs/daily-summaries/2026-01/2026-01-12.md
  docs/directory-tree.md
Due: anti-patterns

fix: exclude policy/check scripts from anti-pattern detection
  OPA/add-opa-placeholder.md
  docs/daily-summaries/2026-01/2026-01-12.md
  docs/opa-integration.md
  lefthook.yml
  policies/opa/geckoforge.rego
  tools/check-anti-patterns.sh
  tools/opa-check.sh
Due: shellcheck, bash-syntax, anti-patterns

Add Nix-based Python development with direnv and KERI support
  docs/keri-development.md
  docs/nix-modules-usage.md
  docs/python-development.md
  examples/python-nix-direnv/.envrc
  examples/python-nix-direnv/.gitignore
  examples/python-nix-direnv/README.md
  examples/python-nix-direnv/flake.nix
  examples/python-nix-direnv/mypy.ini
  examples/python-nix-direnv/pytest.ini
  examples/python-nix-direnv/requirements.txt
  home/modules/development.nix
  home/modules/vscode.nix
Due: nix-check, anti-patterns
